#header1-6 H1 {
  color: #d14841;
}
#header1-6 P {
  color: #7c706b;
  text-align: left;
}
#msg-box4-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-article P {
  color: #ffffff;
}
#header4-5 H1 {
  color: #f97352;
  text-align: center;
}
#header4-5 P {
  text-align: left;
  color: #ffffff;
  font-size: 19px;
}
#header4-5 B {
  color: #ffffff;
  text-align: left;
}
#msg-box2-59 h2 {
  color: #252525;
}
#msg-box2-59 p {
  color: #252525;
}
#features1-55 P {
  text-align: center;
  font-size: 12px;
}
#features1-55 B {
  text-align: center;
}
#header1-33 H1 {
  color: #f97352;
}
#header1-33 P {
  color: #ffffff;
}
#header3-39 P {
  text-align: center;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #d14841;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-19 .mbr-article BLOCKQUOTE {
  color: #252525;
}
#msg-box5-53 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-53 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-53 .mbr-article {
  color: #ffffff;
}
#msg-box5-53 .mbr-article P {
  color: #ffffff;
}
#content5-17 .caption h3 {
  color: #ffffff;
  font-size: 25px;
}
#content5-17 P {
  color: #ffffff;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box3-88 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-88 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content1-89 DIV {
  text-align: left;
}
#header3-122 H3 {
  font-size: 36px;
}
#content1-128 P {
  text-align: center;
}
#header1-120 P {
  font-size: 17px;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-71 H1 {
  font-size: 36px;
  color: #d14841;
  text-align: center;
}
#header4-71 P {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#content5-60 .caption h3 {
  color: #fff;
  font-size: 25px;
}
#content5-60 P {
  color: #fff;
}
#content5-60 DIV {
  color: #ffffff;
  font-size: 19px;
}
#testimonials1-59 .mbr-reviews__text P {
  text-align: left;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box3-130 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-130 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-130 .mbr-article UL {
  text-align: center;
}
#msg-box3-130 .mbr-article P {
  text-align: center;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header3-137 H3 {
  text-align: center;
}
#menu-143 .mbr-brand__name {
  font-size: 16px;
}
#menu-143.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box4-147 .mbr-header__text {
  color: #252525;
}
#msg-box4-147 .mbr-header__subtext {
  color: #777777;
}
#msg-box4-147 .mbr-article {
  color: #ffffff;
}
#msg-box4-147 .mbr-article P {
  color: #777777;
}
